.h1 {
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
  margin-top: 2rem;
}

.Issues {
  border: 1px solid #364156;
  padding: 3rem;
  margin-bottom: 2rem;
  background-color: #364156;
  max-width: 60rem;
  min-width: 60rem;
  border-radius: 30;
  overflow-wrap: anywhere;
}

.IssueInfo {
  padding: 2rem;
  background-color: #364156;
  border-radius: 8px;
  margin-bottom: 2rem;
  max-width: 60rem;
  min-width: 60rem;
  border-radius: 30;
  overflow-wrap: anywhere;
}

.IssueComments {
  background-color: #364156;
  padding: 2rem;
  border: 1px dashed #364156;
  margin-bottom: 2rem;
  max-width: 60rem;
  min-width: 60rem;
  border-radius: 30;
  overflow-wrap: anywhere;
  overflow-y: auto;
  max-height: 60rem;
}

.border {
  display: grid;
  place-items: center;
  height: 100vh;
}

.CommentsBox {
  margin-top: 2rem;
}

.ButtonBox {
  margin-bottom: 1rem;
}

.buttonIssueState {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: 90%;
  margin-bottom: -2rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 1000;
}

.buttonIssueState:hover {
  background-color: #919ef3;
  border-color: #999;
}

.buttonIssueState:active {
  background-color: #e0e0e0;
  border-color: #666;
}

.buttonIssueState:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(100, 100, 100, 0.3);
}
